# Exclude sensitive files
secrets.yaml
known_devices.yaml
*.log
*.log.*
*.db
*.db-shm
*.db-wal

# Exclude temporary files
*.pyc
__pycache__/

.cloud/
tts/
www/
deps/
.storage/

# track all lovelace-related files
!.storage/lovelace
!.storage/lovelace.*

# Exclude boilerplate and personal info
custom_components
blueprints
configuration.yaml
.HA_VERSION
