# Loads default set of integrations. Do not remove.
default_config:

# Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml

# HACS now authenticates using OAUTH instead of a hardcoded gh token
# hacs:
#   token: !secret github_token

homeassistant:
  packages:
    water_usage: !include water_usage_parser.yaml
